{% extends 'base.html.twig' %}

{% block title %}Ajouter produit libre
{% endblock %}

{% block body %}
	{% for message in app.flashes('notice') %}
		<div id="message">
			<div class="flash-notice">
				<p class="text-success my-3 fs-1 mx-2 fw-bold text-center">{{ message }}</p>
			</div>
			<div class='d-flex justify-content-center'>
				<button type="submit" class="btn btn-outline-success border-3 rounded-5" onclick="(removeMessage())">
					<span class='fs-2 fw-normal p-2'>OK!</span>
				</button>
			</div>
		</div>
	{% endfor %}
	<h1 class="text-white my-5 fs-1 fw-normal text-center">Ajouter produit libre</h1>
	<form method="post" action="{{ path('app_ajouter_produit_libre') }}">
		<div class='border-info border border-2 m-3 rounded-3'>
			<div class='d-flex justify-content-center flex-column'>
				<div class='d-flex justify-content-center'>
					<button type="button" class="btn btn-outline-info mt-5 mb-2 border-2 rounded-5" onclick="load_quagga()">
						<span class='fs-2 fw-normal'>Scan produit</span>
					</button>
				</div>
				<div class='d-flex justify-content-center'>
					<div id='scan' class='d-flex justify-content-center flex-column scan'></div>
				</div>
			</div>
			<div class="m-3">
				<label for="form-produit-libre-id" class="form-label">
					<span class='fs-1 fw-normal text-info'>ID produit</span>
				</label>
				<input type="number" class="form-control fs-1 fw-normal border-dark border-3 rounded-3" id="form-produit-libre-id" placeholder="id" name="form-produit-libre-id" required>
			</div>
			<div class="m-3">
				<label for="form-produit-libre-code-couleur" class="form-label">
					<span class='fs-1 fw-normal text-info'>Code couleur</span>
				</label>
				<select class="form-select w-75 fs-1 fw-normal border-dark border-3 rounded-3" id="form-produit-libre-code-couleur" name="form-produit-libre-code-couleur" required>
					<option value="vert" class='fs-1 fw-normal'>vert</option>
					<option value="jaune" class='fs-1 fw-normal'>jaune</option>
					<option value="orange" class='fs-1 fw-normal'>orange</option>
					<option value="rouge" class='fs-1 fw-normal'>rouge</option>
					<option value="noir" class='fs-1 fw-normal'>noir</option>
				</select>
			</div>
			<div class="m-3">
				<div class="form-group">
					<label for="form-produit-libre-quantite">
						<span class='fs-1 fw-normal text-info'>Quantité :</span>
					</label>
					<input type="number" class="form-control fs-1 fw-normal border-dark border-3 rounded-3" id="form-produit-libre-quantite" placeholder="qte" name="form-produit-libre-quantite" required/>
				</div>
			</div>
			<div class="m-3">
				<label for="form-produit-libre-transporteur" class="form-label">
					<span class='fs-1 fw-normal text-info'>Transporteur</span>
				</label>
				<select class="form-select w-75 fs-1 fw-normal border-dark border-3 rounded-3" id="form-produit-libre-transporteur" name="form-produit-libre-transporteur" required>
					<option value="shenker" class='fs-4 fw-normal'>shenker</option>
					<option value="dpd" class='fs-4 fw-normal'>dpd</option>
					<option value="mazet" class='fs-4 fw-normal'>mazet</option>
					<option value="geodis" class='fs-4 fw-normal'>geodis</option>
					<option value="gls" class='fs-4 fw-normal'>gls</option>
				</select>
			</div>
			<div class='my-5 d-flex justify-content-center'>
				<button type="submit" class="btn btn-outline-info border-2 rounded-5">
					<span class='fs-2 fw-normal'>Mettre en stock</span>
				</button>
			</div>
		</div>
	</form>
	<script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.js"></script>
	<script type="text/javascript">
		function load_quagga() {
if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
Quagga.init({
inputStream: {
name: "Live",
type: "LiveStream",
target: document.querySelector('#scan')
},
decoder: {
readers: ["ean_reader"]
}
}, function (err) {
if (err) {
console.log(err);
return
}
console.log("Initialization finished. Ready to start");
Quagga.start();
});
Quagga.onDetected(function (data) {
document.querySelector('#form-produit-libre-id').value = data.codeResult.code;
Quagga.stop();
});
}
}
function removeMessage() {
var eltMessage = document.querySelector('#message')
eltMessage.remove()
}
	</script>
{% endblock %}
