$background-color: #2d3032;

body {
  background-color: $background-color !important;
}

.scan video {
    height: 210px !important;
    width: 280px !important;
}

#photo-bordereau {
    height: 210px !important;
    width: 280px !important;
}

.drawingBuffer {
    display: none;
}

a {
    text-decoration: none !important;  
}

