$background-color: #2d3032;

body {
    background-color: $background-color !important;
}

.scan video {
    height: 210px !important;
    width: 280px !important;
}

// #photo-bordereau {
//     height: 210px !important;
//     width: 280px !important;
// }

.drawingBuffer {
    display: none;
}

a {
    text-decoration: none !important;
}

@media (min-width: 600px) {
    .input-desktop {
        max-width: 500px;
    }
}

.custom-width-desktop {
    width: 90vw;
}

@media (min-width: 600px) {
    .custom-width-desktop {
        width: 50vw;
    }
}

@media (min-width: 600px) {
    .creation-palette-width {
        width: 500px;
    }
}